{% extends "base.html" %}
{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="account-login section">
<div class="container">
<div class="row">
<div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
<form class="card login-form" method="POST">
<div class="card-body">
<div id="title">
    <h3>Forgot Password</h3>
    {% if messages %}
    {% for message in messages %}
    <div id = "info_container" {% if message.tags == "error" %}class= "info_container" {% else %}class= "info_containers"{% endif %} >
             <p> {{message}}</p>              
        <i class="lni lni-close"></i>
        {% endfor %}
    </div>
        {% endif %}

</div>

</div>
<div class="form-group input-group">
{{forget_form.as_p}}
{% csrf_token %}
</div>
<div class="button"> 
<button class="btn" type="submit">Send E-mail</button>
</div>
<p class="outer-link">Don't have an account? <a href="{% url 'authentications:register' %}">Register here </a>
</p>
</div>
</form>
</div>
</div>
</div>
</div>
<script>
    const info_container = document.getElementById("info_container"); 
    const x = info_container.lastElementChild;
    x.style.cursor = "pointer";
    x.addEventListener('click',()=>{
        info_container.style.display="none"
    })

</script>
{% endblock %}
